:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
#map-container {
	width: 100%;
	height: 100%;
}

.tooltip {
	position: absolute;
	background: white;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
