:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
#map-container {
	width: 100%;
	height: 100%;
}

.tooltip {
	position: absolute;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
	background: white;
}

svg,
body {
	background: url(https://www.tinotech.co.za/media/bg%20music.png);
}

.music {
	position: absolute;
	z-index: 1;
	width: 2rem;
}

.music.a {
	bottom: 5rem;
	left: 8rem;
	rotate: 30deg;
}

.music.b {
	top: 5rem;
	left: 16rem;
	rotate: -30deg;
}

.music.c {
	top: 5rem;
	right: 16rem;
	rotate: -80deg;
}

.music.d {
	top: 30rem;
	right: 8rem;
	rotate: -30deg;
}

.music.e {
	bottom: 5rem;
	right: 6rem;
	rotate: 75deg;
}
